$accentColor = #29CCC4
$textColor = #686868
$borderColor = #22a29c
$codeBgColor = #0B0C10;

h1 {
  color: #fff !important;
}
h2, .description {
  color: $accentColor !important;
}
h3 {

}
p {
  color: $textColor !important;
}

html,
body {
  background: $codeBgColor !important;
}
.sidebar, .theme-container {
  background: transparent !important;
}
.search-box .suggestions {
  background-color: rgba(19,19,19,0.549) !important;
}
.navbar {
  background-color: #1313138c !important;
  border-bottom: 1px solid rgb(0, 43, 68) !important;
}
.links {
  background: transparent !important;
}
.search-box {
  background-color: rgba(19,19,19,0.549) !important;

  input {
    background-color: rgba(19,19,19,0.549) !important;
    border: 1px solid $accentColor;
  }
}
